{% extends "public_page.html" %}

{% block title %} {{quiz.name}} {% endblock %}
{% block meta_description %} {{quiz.description|striptags|truncatechars:200}} {% endblock %}
{% block meta_keywords %} {{quiz.meta_keywords|truncatechars:200}} {% endblock %}

{% block public_page %}



<div class='row'>
  <div class="col-sm-8 blog-main">

  <a href='/quizzes'><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Quizzes </a>
  <br><br>
  <h4 class='blog-post-title'> <strong> <i class="fa fa-sticky-note" aria-hidden="true"></i> </strong> {{quiz.name}} </h4>

  <div class="blog-post">
    <p class="blog-post-meta">{{quiz.created_on|date}} by <a>{{quiz.author.username}}</a></p>
    {{quiz.description|safe}}
  </div><!-- /.blog-post -->

  {% if show_answer %}
    <p class='lead'> Thank you for taking this quiz. Your score is {{score}}. </p>
  {% else %}

  <!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#quizHelpModal">
 Show Instructions.
</button>

<!-- Modal -->
<div class="modal fade" id="quizHelpModal" tabindex="-1" role="dialog" aria-labelledby="quizHelpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quizHelpModalLabel">Quiz Instructions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li> Questions may have only one or multiple answers. This is indicated by single or multiple badge. </li>
          <li> Your score will be calculated immediately after submission of the quiz. </li>
          <li> There is no time limit. </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  {% endif %}

  <form action='' method='POST'>
    {% csrf_token %}
  <h4 class='banner' id='questionsBanner'> Questions </h4>
  {% for question, answers in questions %}
  <div class="question-box" id='question-container-{{question.order_index}}'>
    <div class='row'>
      <div class='col-sm-1'>
        <div class='question-index'><b> {{question.order_index}} </b></div>
      </div>
      <div class='col-sm-11'>
        <span class='badge badge-dark pull-right'>
          {% if question.question_type == 'mcq_single' %} single {% else %} multiple {% endif %}
        </span>
        {{question.question|safe}}
      </div>
    </div>

      <div class='row'>
        <div class='col-sm-12'>
          <input type='checkbox'  autocomplete='off' class=' question-checkbox' id='question_{{question.order_index}}_option_a_answer' name='question_{{question.order_index}}_option_a_answer'>

        <div title='Option A' class='question-option-div
        {% if show_answer %}
          {% if answers.option_a_answer %}
            {% if question.option_a_correct %}
              answer-correct
            {% else %}
              answer-incorrect
            {% endif %}
          {% endif %}
        {% endif %}
        '  target='#question_{{question.order_index}}_option_a_answer'>
          {{question.option_a|safe}}
        </div>
      </div>
      </div>


      <div class='row'>
        <div class='col-sm-12'>
          <input type='checkbox' autocomplete='off'  class='question-checkbox' id='question_{{question.order_index}}_option_b_answer' name='question_{{question.order_index}}_option_b_answer'>

        <div title='Option B' class='question-option-div
        {% if show_answer %}
          {% if answers.option_b_answer %}
            {% if question.option_b_correct %}
              answer-correct
            {% else %}
              answer-incorrect
            {% endif %}
          {% endif %}
        {% endif %}
        ' target='#question_{{question.order_index}}_option_b_answer'>
          {{question.option_b|safe}}
        </div>
      </div>
      </div>


      <div class='row'>
        <div  title='Option C' class='col-sm-12'>
          <input type='checkbox'  autocomplete='off'  class=' question-checkbox' id='question_{{question.order_index}}_option_c_answer' name='question_{{question.order_index}}_option_c_answer'>

        <div class='question-option-div
        {% if show_answer %}
          {% if answers.option_c_answer %}
            {% if question.option_c_correct %}
              answer-correct
            {% else %}
              answer-incorrect
            {% endif %}
          {% endif %}
        {% endif %}
        ' target='#question_{{question.order_index}}_option_c_answer'>
          {{question.option_c|safe}}
        </div>
        </div>
      </div>


      <div class='row'>
        <div title='Option D' class='col-sm-12'>
          <input type='checkbox'  autocomplete='off'  class='question-checkbox' id='question_{{question.order_index}}_option_d_answer' name='question_{{question.order_index}}_option_d_answer'>
        <div class='question-option-div
        {% if show_answer %}
          {% if answers.option_d_answer %}
            {% if question.option_d_correct %}
              answer-correct
            {% else %}
              answer-incorrect
            {% endif %}
          {% endif %}
        {% endif %}
        ' target='#question_{{question.order_index}}_option_d_answer'>
          {{question.option_d|safe}}
        </div>
      </div>
      </div>

    {% if show_answer %}
    <hr>
    Correct Answer/s:
    {% if question.option_a_correct %}
      <span>A</span> &nbsp;
    {% endif %}
    {% if question.option_b_correct %}
      <span>B</span> &nbsp;
    {% endif %}
    {% if question.option_c_correct  %}
      <span>C</span> &nbsp;
    {% endif %}
    {% if question.option_d_correct %}
      <span>D</span> &nbsp;
    {% endif %}

    <hr>
    <div class='question-explanation'>
      <i> Explanation </i> {{question.explanation|safe}}
    </div>
    {% endif %}
  </div><!-- /.question-box-->

  {% endfor %}

  {% if show_answer %}
  <div class='row'>
    <div class='col-sm-12'>
      <a class='btn btn-info btn-lg' href='/quizzes/{{quiz.id}}/{{quiz.slug}}/'>
        Take Quiz Again
      </a>
    </div>
  </div>
  {% else %}
  <div class='row'>
    <div class='col-sm-12'>
      <input type='submit' value='Submit' class='btn btn-info btn-lg'>
    </div>
  </div>
  {% endif %}

    <br>
  </form>

  </div>

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div id='quiz-nav'>
      <strong>Question Navigation </strong>
      <div class='row' >
      {% for question, answers in questions %}
        <div class='col-sm-2'>
          <button class='btn btn-light question-nav-button' target='#question-container-{{question.order_index}}'>{{question.order_index}}</button>
        </div>
      {% endfor %}
      </div>
     </div>
  </div>

</div>

<script type='text/javascript'>

$(document).ready(function(){

  $('.question-option-div').click(function(){
    console.log('clicked option');
    var target = $(this).attr('target');
    var pre = $(target).prop('checked');

    if(pre==true){
      console.log('uncheck');
      $(target).prop('checked', false);
      $(this).removeClass('option-selected');
    }else{
      console.log('check');
      $(target).prop('checked', true);
      $(this).addClass('option-selected');
    }

  });


  $("#quiz-nav").sticky({topSpacing:150});

  $('.question-nav-button').click(function(){
      var target = $(this).attr('target');
      $("html, body").animate({
        scrollTop: $(target).offset().top
    }, 200);
  });


});

</script>
{% endblock %}
