{% extends "public_page.html" %}

{% block public_page %}

<div class='row'>
  <div class="col-sm-8 blog-main">

  <h4 class='blog-post-title'> <strong> <i class="fa fa-bars" aria-hidden="true"></i> </strong> {{collection.name}} </h4>

  <div class="blog-post">
    <p class="blog-post-meta">{{collection.created_on|date}} by <a>{{collection.author.username}}</a></p>
    {{collection.description|safe}}
  </div><!-- /.blog-post -->

  <h4 class='banner'> Items </h4>
  {% for item in items %}
  <div class="blog-post">

    <h2 class="blog-post-title">{{item.title}}</h2>
    <p class="blog-post-meta">{{item.created_on|date}} by <a>{{item.author.username}}</a></p>
    {{item.description|safe}}

    {% if item.url %}
    <br> [Link]: <a href='{{item.url}}' target='_blank'> {{item.url}} </a>
    {% endif %}
    {% if item.video_url %}
    <iframe width="100%" height="400"
      src="{{item.video_url}}">
    </iframe>
    {% endif %}
  </div><!-- /.blog-post -->

  {% endfor %}

  </div>

  <div class="col-sm-3 offset-sm-1 blog-sidebar">

  </div>
</div>
{% endblock %}
