{% extends "base.html" %}

{% block page %}



<div class="blog-masthead">
      <div class="container">
        <nav class="nav">
          <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="/">Stream XYZ </a>
          <a class="nav-link {% if '/streams' in request.path %} active {% endif %}" href="/streams"><i class="fa fa-bullhorn" aria-hidden="true"></i>  Streams</a>
          <a class="nav-link {% if '/collections' in request.path  %} active {% endif %}" href="/collections"><i class="fa fa-bars" aria-hidden="true"></i> Collections</a>
          <a class="nav-link {% if '/about' in request.path  %} active {% endif %}" href="/about">About</a>
        </nav>
      </div>
    </div>





    <div class="container">
{% block public_page %}

{% endblock %}
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Stream X|Y|Z.</p>
    </footer>


{% endblock %}
