{% extends "public_page.html" %}

{% block public_page %}


<div class='row'>
  <div class='col-sm-12'>
<div class="blog-header">
  <div class="container">
    <h2 class="blog-title"> <i class="fa fa-bullhorn" aria-hidden="true"></i> Streams </h2>
    <p class="lead blog-description"> New and Trending.</p>
  </div>
</div>
</div>
</div>

<div class='row'>
  <div class="col-sm-8 blog-main">

  {% for stream in streams %}
  <div class="list-item-box">
    <a href='/streams/{{stream.id}}/{{stream.slug}}/'><h2 class="blog-post-title">{{stream.name}} </h2></a>
    {{stream.description|safe}}
  </div><!-- /.blog-post -->

  {% endfor %}

  </div>

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
  </div>
</div>
{% endblock %}
