{% extends "public_page.html" %}


{% block public_page %}

<h3> About </h3>
<p class='lead'>
  Stream XYZ is an online tool that helps you stream and manage content.
</p>
<br><br>
<h3> What is Stream <i class="fa fa-bullhorn" aria-hidden="true"></i> ? </h3>
<p class='lead'>
  Stream is a place where updates are posted regularly.
</p>
<br><br>
<h3> What is Collection <i class="fa fa-bars" aria-hidden="true"></i> ? </h3>
<p class='lead'>
  Collection is a place which contains favorite/bookmarked items.
</p>
<div style='height: 275px;'></div>
{% endblock %}
