{% extends "public_page.html" %}


{% block public_page %}

<h2> About </h2>
<p class='lead'>
  Stream X|Y|Z is an online tool that helps you stream and manage content.
</p>

<h2> What is Stream <i class="fa fa-bullhorn" aria-hidden="true"></i> ? </h2>
<p class='lead'>
  Stream is a place where updates are posted regularly.
</p>

<h2> What is Collection <i class="fa fa-bars" aria-hidden="true"></i> ? </h2>
<p class='lead'>
  Collection is a place which contains favorite/bookmarked items.
</p>
<div style='height: 275px;'></div>
{% endblock %}
