{% extends "public_page.html" %}

{% block public_page %}

<div class='row'>
  <div class="col-sm-8 blog-main">
  <h4 class='banner'> Top Streams <i class="fa fa-bullhorn" aria-hidden="true"></i>  </h4>

  {% for stream in streams %}
  <div class="blog-post">
    <a href='/streams/{{stream.id}}/{{stream.slug}}/'><h2 class="blog-post-title">{{stream.name}}</h2></a>
    {{stream.description|safe}}
  </div><!-- /.blog-post -->

  {% endfor %}
  <hr>


  <h4 class='banner'> Top Collections <i class="fa fa-bars" aria-hidden="true"></i></h4>

  {% for collection in collections %}
  <div class="blog-post">
    <a href='/collections/{{collection.id}}/{{collection.slug}}/'><h2 class="blog-post-title">{{collection.name}}</h2></a>
    {{collection.description|safe}}
  </div><!-- /.blog-post -->

  {% endfor %}

  </div>

  <div class="col-sm-3 offset-sm-1 blog-sidebar">

  </div>
</div>
{% endblock %}
